@page "/product-origins"
@using Admin.Services
@using Admin.Data.ProductOrigin
@inject ApiService _ApiService
@inject IJSRuntime _JsRuntime

<_DeleteConfirmation ConfirmationChanged="DeleteConfirmation"></_DeleteConfirmation>
<h3>Product Origins</h3>

<div class="container ms-0">

    <a href="product-origins/create" class="btn btn-outline-primary float-end">New Origin</a>

    @if (origins == null)
    {
        <p><em>Loading...</em></p>
    }
    else if (!origins.Any())
    {
        <p><em>No records...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pt in origins)
                {
                    <tr>
                        <td>@pt.Id</td>
                        <td>@pt.Name</td>
                        <td>
                            <a href="product-origins/edit/@pt.Id/@pt.Name" class="btn btn-outline-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                            <button class="btn btn-outline-danger" @onclick="()=>DeleteHandler(pt.Id)"><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    private int IdToDelete { get; set; }

    private IList<ProductOrigin>? origins;

    protected override async Task OnInitializedAsync()
    {
        var response = await _ApiService.GetAllProductOrgins();

        if (response.IsSuccess) origins = response.Value;
    }

    private void DeleteHandler(int id)
    {
        IdToDelete = id;
        _JsRuntime.InvokeVoidAsync("ShowDeleteConfirmationModal");
    }

    private async Task DeleteConfirmation(bool isConfirmed)
    {
        if (isConfirmed && IdToDelete != 0)
        {
            var response = await _ApiService.DeleteProductOrigin(IdToDelete);

            if (!response.IsSuccess)
            {
                var msg = String.Join(",", response.Errors.Select(e => e.Message));
                await _JsRuntime.InvokeVoidAsync("ShowSwal", "Oups!", "error", msg);
            }
            else
            {
                var deleted = origins.Single(t => t.Id == IdToDelete);

                origins.Remove(deleted);
                _JsRuntime.InvokeVoidAsync("HideDeleteConfirmationModal");
            }
        }
    }

}
