@page "/learning-blazor/products"
@using Admin.Data.learning_blazor
@using Admin.Pages.learning_blazor.learn_blazor_components

<h3>Products</h3>
<h4> Cart Items: @cart</h4>
@if (@selected != null)
{
    <h4> Selected Item: @selected.Name - $@selected.Price - @(selected.IsAvailable ? "Available" : "Not available")</h4>
}
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @foreach (var item in products)
        {
            <_product_details Product="@item" onCartUpdate="CartUpdate" onProductSelect="ProductSelect"></_product_details>
        }
    </div>
</div>

@code {
    public List<DemoProductDto> products = new();
    private int cart { get; set; } = 0;
    private DemoProductDto selected { get; set; }

    protected override void OnInitialized()
    {
        products.Add(new()
            {
                Id = 1,
                IsAvailable = true,
                Name = "Female Figure",
                Price = 10.99,
                Details = new List<DemoProductDetails>()
            {
                new() { Id = 1, Key = "Type", Value = "Figure"},
                new() { Id = 1, Key = "Origin", Value = "Burkina Faso"},
                new() { Id = 1, Key = "Period", Value = "Naaba Lion Epoque"},
                new() { Id = 1, Key = "Weight", Value = "2.5Kg"}
            }
            });
        products.Add(new()
            {
                Id = 2,
                IsAvailable = false,
                Name = "Male Figure",
                Price = 12.99,
                Details = new List<DemoProductDetails>()
            {
                new() { Id = 1, Key = "Type", Value = "Figure"},
                new() { Id = 1, Key = "Origin", Value = "Burkina Faso"},
                new() { Id = 1, Key = "Period", Value = "Naaba Lion Epoque"},
                new() { Id = 1, Key = "Weight", Value = "2.5Kg"}
            }
            });
        products.Add(new()
            {
                Id = 1,
                IsAvailable = true,
                Name = "Antelope Mask",
                Price = 90.99,
                Details = new List<DemoProductDetails>()
            {
                new() { Id = 1, Key = "Type", Value = "Mask"},
                new() { Id = 1, Key = "Origin", Value = "Ghana"},
                new() { Id = 1, Key = "Period", Value = "Jollof Rice Era"},
                new() { Id = 1, Key = "Weight", Value = "12.5Kg"}
            }
            });
        products.Add(new()
            {
                Id = 1,
                IsAvailable = false,
                Name = "Rain Maker Mask",
                Price = 100.99,
                Details = new List<DemoProductDetails>()
            {
                new() { Id = 1, Key = "Type", Value = "Mask"},
                new() { Id = 1, Key = "Origin", Value = "Benin"},
                new() { Id = 1, Key = "Period", Value = "Jollof Rice Era"},
                new() { Id = 1, Key = "Weight", Value = "112.5Kg"}
            }
            });
    }

    protected void CartUpdate(bool isSelected)
    {
        if (isSelected)
        {
            cart++;
        }
        else
        {
            cart--;
        }
    }
    protected void ProductSelect(DemoProductDto item)
    {
        selected = item;
    }
}
